{% extends 'accounts/base.html' %}
{% block content %}
  <body class="text-center">

    <div class="container">
    <div class="jumbotron">
        <fieldset class="fieldset" >
                <legend>Editing Timesheet for {{timesheet.project}}</legend>
    <form action="{% url 'accounts:edittimesheet' %}" method="post">
        {% csrf_token %}
        {% if request.GET.next %}
            <input type="hidden" name="next" value={{request.GET.next}}>
        {% endif %}
        <input type="hidden" name="timesheet_id" value={{timesheet.id}}>
        <input type="hidden" name="project_name" value='{{timesheet.project}}'>
        <div class="form-group row">
          <label for="" class="col-md-3 col-form-label">Date</label>
          <div class="col-md-3">
            <input type="date" class="form-control" name="date" id="inputEmail3" value="{{timesheet.date|date:"Y-m-d"}}" placeholder="Date">
          </div>
        </div>
        <div class="form-group row">
          <label for="" class="col-md-3 col-form-label">From</label>
          <div class="col-md-3">
            <input type="time" class="form-control" name="from" id="inputEmail3" value="{{timesheet.start_time|time:"h:i"}}" placeholder="From">
          </div>
        </div>
        <div class="form-group row">
          <label for="" class="col-md-3 col-form-label">To</label>
          <div class="col-md-3">
            <input type="time" class="form-control" name="to" id="inputEmail3" value="{{timesheet.end_time|time:"h:i"}}" placeholder="To">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-8">
            <button type="submit" class="btn btn-primary">Add Timesheet</button>
          </div>
        </div>
        <!-- <input type="submit" name="Add Timesheet"> -->
    </form>
    <br>
                {% if error %}
        <footer style="color:red">{{error}}</footer>
    {% endif %}
        </fieldset>
    </div>
    </div>
    <a href="{% url 'accounts:logout' %}" class="btn btn-danger">Logout</a>

{% endblock %}
